# Ignore dataset
data/

# Ignore Python environment folders
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other OS files
.DS_Store
Thumbs.db

# Ignore CA brief
CA2 Artificial Intelligence.pdf